.cancha{
  background-color: #6c8c5c;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  width: 620px;
  height: 370px;
  position: relative;
  box-shadow: 5px 5px 25px #888888;
  margin-left: 450px;
  margin-top:200px;
}
.canchaInt{
  position: absolute;
  margin: 10px;
  border: 1px solid white;
  width: 600px;
  height: 350px;
}
.porteria{
  position: absolute;
  width: 100px;
  height: 150px;
}
.izquierda{
  left:10px;
  top: 25%;
  border: 1px solid white;

}
.derecha{
  right:9px;
  top: 25%;
  border: 1px solid white;
}
.centro{
  position: absolute;
  top:  35%;
  left: 43%;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 1px solid white;
}
.pelotita1{
  background-color: white;
  position: absolute;
  top:90px;
  left:104px;
  width: 10px;
  height: 10px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 10px;
}
.pelotita2{
  background-color: white;
  position:absolute;
  top:70px;
  left:300px;
  width:10px;
  height: 10px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 10px;
}
.pelotita3{
  background-color: white;
  position:absolute;
  top:235px;
  left:500px;
  width:10px;
  height: 10px;
  box-shadow: 2px 2px 1px #888888;
  border-radius: 10px;
}
